html {
  --color-primary: #C1666B;
  --color-lighter-gray: #3C4248;
  --color-lightest-gray: #4E5359;
  --color-black: #292F36;
  --color-background: #FDF1F0; 
  --font-logo: 'Faster One';
  --font-header: 'Fraunces';
}

html,
body {
  width: 100%;
  margin: 0;
  background-color: var(--color-background);
  font-family: var(--font-header);
}

p {
  margin: 0;
}

* { box-sizing: border-box; }
